.app{
    background: #12CBB2;
}

table tr td {
    vertical-align: middle;
}

td button{
    margin: 2px;
}

.modal-header{
    background: #12CBB2;
    color: #ffffff;
}

button i{
    font-size: 20px;
}

.modal-body form{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
}

.modal-body form .inputField{
    position: absolute;
    bottom: 0;
    right: 0;

}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

.modal-footer .submit{
    font-size: 20px;
}

#readData form .inputField > div input{
    color: #000000;
    font-size: 18px;
}